@model LibraryShop.Web.ViewModels.Home.IndexPageStatisticsViewModel

@using LibraryShop.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

@if (this.TempData.ContainsKey("DeleteMessage"))
{
    <div class="alert alert-success">@this.TempData["DeleteMessage"]</div>
}
@if (this.TempData.ContainsKey("AddedGener"))
{
    <div class="alert alert-success">@this.TempData["AddedGener"]</div>
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">

    <title>Zakra Book Author &#8211; Just another Zakra Demos site</title>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Quattrocento%3A400%2C700%7C-apple-system%3A400%7CCinzel%20Decorative%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CQuattrocento%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CNunito%20Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento%3A400%2C700%7C-apple-system%3A400%7CCinzel%20Decorative%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CQuattrocento%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CNunito%20Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=swap" media="print" onload="this.media='all'" />
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento%3A400%2C700%7C-apple-system%3A400%7CCinzel%20Decorative%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CQuattrocento%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CNunito%20Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=swap" /></noscript>
    <link rel="stylesheet" href="https://zakrademos.com/book-author/wp-content/cache/min/19/5c70e0031b8ee6d7aa5e2c8c5e99ac93.css" media="all" data-minify="1" />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />
    <link rel="alternate" type="application/rss+xml" title="Zakra Book Author &raquo; Feed" href="https://zakrademos.com/book-author/feed/" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>







    <style id='zakra-style-inline-css' type='text/css'>
        a:hover, a:focus, .tg-primary-menu > div ul li:hover > a, .tg-primary-menu > div ul li.current_page_item > a, .tg-primary-menu > div ul li.current-menu-item > a, .tg-mobile-navigation > div ul li.current_page_item > a, .tg-mobile-navigation > div ul li.current-menu-item > a, .entry-content a, .tg-meta-style-two .entry-meta span, .tg-meta-style-two .entry-meta a {
            color: #6b5c4e;
        }

        .tg-primary-menu.tg-primary-menu--style-underline > div > ul > li.current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div > ul > li.current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div > ul > li.current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div > ul > li.current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div > ul > li.current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div > ul > li.current-menu-item > a::before, .tg-scroll-to-top:hover, button, input[type="button"], input[type="reset"], input[type="submit"], .tg-primary-menu > div ul li.tg-header-button-wrap a {
            background-color: #6b5c4e;
        }

        body {
            color: #596172;
        }

        body {
            font-family: Quattrocento;
            font-weight: 400;
            font-size: 16px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, helvetica neue, helvetica, arial, sans-serif;
            font-weight: 400;
        }

        h1 {
            font-weight: 500;
        }

        h2 {
            font-weight: 500;
        }

        h3 {
            font-weight: 500;
        }

        h4 {
            font-weight: 500;
        }

        h5 {
            font-weight: 500;
        }

        h6 {
            font-weight: 500;
        }

        button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, #infinite-handle span:hover {
            background-color: #1e7ba6;
        }

        .tg-site-header .tg-site-header-top {
            background-size: contain;
        }

        .tg-site-header, .tg-container--separate .tg-site-header {
            background-size: contain;
        }

        .tg-site-header {
            border-bottom-width: 0px;
        }

        .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a {
            padding-top: 6px;
            padding-right: 20px;
            padding-bottom: 6px;
            padding-left: 20px;
        }

        .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a {
            background-color: #6b5c4e;
        }

            .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a:hover {
                background-color: #544b3a;
            }

        .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a {
            border-radius: 0px;
        }

        .tg-primary-menu > div > ul li:not(.tg-header-button-wrap) a {
            color: #272727;
        }

        .tg-primary-menu > div ul li:active > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current_page_item > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current-menu-item > a, .tg-primary-menu > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a {
            color: #6b5c4e;
        }

        .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-underline > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-left-border > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current_page_item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current_page_ancestor > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current-menu-item > a::before, .tg-primary-menu.tg-primary-menu--style-right-border > div ul > li:not(.tg-header-button-wrap).current-menu-ancestor > a::before {
            background-color: #6b5c4e;
        }

        .tg-primary-menu > div ul li a {
            font-family: Quattrocento;
            font-weight: 700;
            font-size: 16px;
        }

        .tg-page-header {
            padding-top: 100px;
            padding-bottom: 100px;
        }

            .tg-page-header .tg-page-header__title, .tg-page-content__title {
                color: #ffffff;
            }

        .tg-page-header, .tg-container--separate .tg-page-header {
            background-image: url(https://zakrademos.com/book-author/wp-content/uploads/sites/19/2019/04/page-header-bg.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

            .tg-page-header .breadcrumb-trail ul li {
                color: #ffffff;
            }

                .tg-page-header .breadcrumb-trail ul li::after {
                    color: #ffffff;
                }

                .tg-page-header .breadcrumb-trail ul li a {
                    color: #ffffff;
                }

            .tg-page-header .tg-page-header__title, .tg-page-content__title {
                font-weight: 500;
            }

        .tg-site-footer-widgets {
            background-color: #1a1a1a;
        }

        .tg-site-footer .tg-site-footer-widgets a {
            color: #ffffff;
        }

            .tg-site-footer .tg-site-footer-widgets a:hover, .tg-site-footer .tg-site-footer-widgets a:focus {
                color: #6b5c4e;
            }

        .tg-site-footer .tg-site-footer-widgets {
            border-top-width: 0px;
        }

            .tg-site-footer .tg-site-footer-widgets ul li {
                border-bottom-width: 0px;
            }

        .tg-site-footer .tg-site-footer-bar {
            background-color: #1a1a1a;
        }

        .tg-site-footer .tg-site-footer-bar {
            color: #ffffff;
        }

            .tg-site-footer .tg-site-footer-bar a {
                color: #ffffff;
            }

                .tg-site-footer .tg-site-footer-bar a:hover, .tg-site-footer .tg-site-footer-bar a:focus {
                    color: #6b5c4e;
                }

        .tg-site-footer .tg-site-footer-bar {
            border-top-width: 1px;
        }

        .tg-site-footer .tg-site-footer-bar {
            border-top-color: #292929;
        }
    </style>




    <style id='elementor-frontend-inline-css' type='text/css'>
    </style>



    <style id='rocket-lazyload-inline-css' type='text/css'>
        .rll-youtube-player {
            position: relative;
            padding-bottom: 56.23%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }

            .rll-youtube-player iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: 0 0
            }

            .rll-youtube-player img {
                bottom: 0;
                display: block;
                left: 0;
                margin: auto;
                max-width: 100%;
                width: 100%;
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                height: auto;
                cursor: pointer;
                -webkit-transition: .4s all;
                -moz-transition: .4s all;
                transition: .4s all
            }

                .rll-youtube-player img:hover {
                    -webkit-filter: brightness(75%)
                }

            .rll-youtube-player .play {
                height: 72px;
                width: 72px;
                left: 50%;
                top: 50%;
                margin-left: -36px;
                margin-top: -36px;
                position: absolute;
                background: url(https://zakrademos.com/book-author/wp-content/plugins/wp-rocket/assets/img/youtube.png) no-repeat;
                cursor: pointer
            }
    </style>

    <link rel="https://api.w.org/" href="https://zakrademos.com/book-author/wp-json/" />
    <link rel="alternate" type="application/json" href="https://zakrademos.com/book-author/wp-json/wp/v2/pages/9" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://zakrademos.com/book-author/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://zakrademos.com/book-author/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.6.5" />
    <meta name="generator" content="Everest Forms 1.7.7" />
    <link rel="canonical" href="https://zakrademos.com/book-author/" />
    <link rel='shortlink' href='https://zakrademos.com/book-author/' />
    <style type="text/css">
        .site-title,
        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }
    </style>
    <link rel="icon" href="https://zakrademos.com/book-author/wp-content/uploads/sites/19/2020/07/cropped-zakra-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://zakrademos.com/book-author/wp-content/uploads/sites/19/2020/07/cropped-zakra-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://zakrademos.com/book-author/wp-content/uploads/sites/19/2020/07/cropped-zakra-180x180.png" />
    <meta name="msapplication-TileImage" content="https://zakrademos.com/book-author/wp-content/uploads/sites/19/2020/07/cropped-zakra-270x270.png" />
    <style type="text/css" id="wp-custom-css">
        .tg-site-footer .tg-footer-widget-container.tg-footer-widget-col--one .tg-footer-widget-area {
            text-align: center
        }

        .tg-site-footer .tg-site-footer-widgets .widget_nav_menu ul {
            display: flex;
            justify-content: center
        }

            .tg-site-footer .tg-site-footer-widgets .widget_nav_menu ul li {
                padding-right: 35px;
                font-weight: 700
            }

                .tg-site-footer .tg-site-footer-widgets .widget_nav_menu ul li:last-child {
                    padding-right: 0
                }

        .tg-site-footer .tg-site-footer-bar.tg-site-footer-bar--center .tg-site-footer-section-2 {
            margin-top: 25px
        }

        .mc4wp-form {
            text-align: center
        }

            .mc4wp-form input {
                width: auto;
                display: inline-block;
                height: 50px;
                font-size: 18px
            }

                .mc4wp-form input[type=submit] {
                    font-family: "Cinzel Decorative",Sans-serif;
                    font-weight: 700
                }

                .mc4wp-form input:focus {
                    outline: 0
                }

                .mc4wp-form input[type=email] {
                    color: #fff;
                    margin-right: 0;
                    width: 350px;
                    background-color: transparent;
                    border: 1px solid rgba(255,255,255,.5);
                    border-right: none;
                    background-clip: padding-box
                }

        .everest-forms .evf-field-container .evf-frontend-row .author-input input, .everest-forms .evf-field-container .evf-frontend-row .author-input select, .everest-forms .evf-field-container .evf-frontend-row .author-input textarea {
            padding: 12px 20px;
            border-color: transparent;
            border-radius: 0;
            background-color: #FFF
        }

        .everest-forms .author-submit button[type=submit] {
            display: block;
            width: 100%;
            padding: 14px 25px;
            color: #fff;
            background-color: #6b5c4e;
            border: none;
            border-radius: 0
        }

        #nav_menu-1 .widget-title {
            display: none
        }
    </style>
    <noscript>
        <style id="rocket-lazyload-nojs-css">
            .rll-youtube-player, [data-lazy-src] {
                display: none !important;
            }
        </style>
    </noscript>
</head>

<section class="elementor-section elementor-top-section elementor-element elementor-element-7145ca8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7145ca8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b81ce7a" data-id="b81ce7a" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-21a3fa2 elementor-widget elementor-widget-counter" data-id="21a3fa2" data-element_type="widget" data-widget_type="counter.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-counter">
                                    <div class="elementor-counter-number-wrapper">
                                        <span class="elementor-counter-number-prefix"></span>
                                        <span class="elementor-counter-number" data-duration="2000" data-to-value=@Model.TotalUsers data-from-value="0" data-delimiter=",">@Model.TotalUsers</span>
                                        <span class="elementor-counter-number-suffix"></span>
                                    </div>
                                    <div class="elementor-counter-title">BOOKS PUBLISHED</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f7309b8" data-id="f7309b8" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-682099f elementor-widget elementor-widget-counter" data-id="682099f" data-element_type="widget" data-widget_type="counter.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-counter">
                                    <div class="elementor-counter-number-wrapper">
                                        <span class="elementor-counter-number-prefix"></span>
                                        <span class="elementor-counter-number" data-duration="2000" data-to-value=@Model.TotalDealers data-from-value="0" data-delimiter=",">@Model.TotalDealers</span>
                                        <span class="elementor-counter-number-suffix"></span>
                                    </div>
                                    <div class="elementor-counter-title">DEALERS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-260414d" data-id="260414d" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-841d904 elementor-widget elementor-widget-counter" data-id="841d904" data-element_type="widget" data-widget_type="counter.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-counter">
                                    <div class="elementor-counter-number-wrapper">
                                        <span class="elementor-counter-number-prefix"></span>
                                        <span class="elementor-counter-number" data-duration="2000" data-to-value=@Model.TotalBooks data-from-value="0" data-delimiter=",">@Model.TotalBooks</span>
                                        <span class="elementor-counter-number-suffix"></span>
                                    </div>
                                    <div class="elementor-counter-title">BOOKS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b39fcec" data-id="b39fcec" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-3c0d932 elementor-widget elementor-widget-counter" data-id="3c0d932" data-element_type="widget" data-widget_type="counter.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-counter">
                                    <div class="elementor-counter-number-wrapper">
                                        <span class="elementor-counter-number-prefix"></span>
                                        <span class="elementor-counter-number" data-duration="2000" data-to-value=@Model.TotalBookGeners data-from-value="0" data-delimiter=",">@Model.TotalBookGeners</span>
                                        <span class="elementor-counter-number-suffix"></span>
                                    </div>
                                    <div class="elementor-counter-title">Book Geners</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*<div class="offset-1 container">
    <div class="col-md-8"></div>
    <table class="text-center table table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-primary">users</th>
                <th scope="col" class="text-primary">dealer</th>
                <th scope="col" class="text-primary">books</th>
                <th scope="col" class="text-primary">book geners</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-warning">@model.totalusers</td>
                <td class="text-warning">@model.totaldealers</td>
                <td class="text-warning">@model.totalbooks</td>
                <td class="text-warning">@model.totalbookgeners</td>
            </tr>
        </tbody>
    </table>
</div>*@


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="offset-4 d-block w-50 " src="@Model.BookImage[0]">
        </div>
        <div class="carousel-item">
            <img class="offset-4 d-block w-50" src="@Model.BookImage[1]">
        </div>
        <div class="carousel-item">
            <img class="offset-4 d-block w-50" src="@Model.BookImage[2]">
        </div>
        <div class="carousel-item">
            <img class="offset-4 d-block w-50" src="@Model.BookImage[3]">
        </div>
    </div>
</div>

