@model LibraryShop.Web.ViewModels.Book.AboutBookViewModel

@{
    ViewBag.Title = Model.Title;
}
@if (this.TempData.ContainsKey("BookDeleted"))
{
    <div class="alert alert-success">@this.TempData["BookDeleted"]</div>
}
<h1>@ViewBag.Title</h1>
<div class="cour"></div>

<div class="form-group">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="@Model.ImageUrl" alt="First slide">
            </div>
        </div>
    </div>
    <div class="list-group">
        <ul>
            <li class="list-group-item font-weight-bold">Title: @Model.Title</li>
            <li class="list-group-item font-weight-bold">Author: @Model.Author</li>
            <li class="list-group-item font-weight-bold">Description: @Model.Description</li>
            <li class="list-group-item font-weight-bold">Year Created: @Model.YearCreated.ToString("dd/MM/yyyy")</li>
            <li class="list-group-item font-weight-bold">Gener: @Model.CategoryName</li>
            <li class="list-group-item font-weight-bold">Pages: @Model.Pages</li>
            <li class="list-group-item font-weight-bold">Price: @Model.Price $</li>
        </ul>
    </div>
</div>