@model LibraryShop.Web.ViewModels.Book.MyBooksViewModel


@if (this.TempData.ContainsKey("BookDeleted"))
{
    <div class="alert alert-success">@this.TempData["BookDeleted"]</div>
}


<div class="row form-group">
    @foreach (var book in Model.MyBooks)
    {
        <br />
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@book.ImageUrl" alt="@book.Title @book.Author">
            <div class="card-body">
                <p class="card-text">@book.Descrption</p>
                <a asp-action="EditBook" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                <form asp-action="DeleteBook" asp-route-id="@book.Id" method="post" id="deleteForm">
                </form>
                <a asp-action="AboutBook" asp-route-id="@book.Id" class="btn btn-primary">About</a>
                <input class="btn btn-danger" type="submit" value="Delete" data-toggle="modal" data-target="#modalDelete">
            </div>
        </div>
    }
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this Book?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>